/* reset */
body, html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li {
	float: left;
	margin-left: 10px;
}
nav li:first-child {
	margin-left: 0;
}
a {
	text-decoration: none;
	color: #4eb2ff;
}



/* custom elements */
.page {
	clear: both;
}
.clear {
	clear: both;
}
.clearfix {
	height: 1px;
	line-height: 1px;
	clear: both;
	display: block;
}





/* overwrite */
.fuzz .vbox-close {
	line-height: 24px;
}
#loading-circle {
    z-index: 1001;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    text-align: center;
}
#loading-circle .fa {
    height: 80px;
    width: 80px;
    top: 50%;
    margin-top: -55px;
    position: absolute;
    font-size: 80px;
    background: #000;
    color: #fff;
    padding: 15px;
    margin-left: -15px;
    border-radius: 100%;
    box-shadow: 0 0 30px #000;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


/* site css - replace this */
.header {
	background: #eee;
}
nav {
	width: 1000px;
	margin: auto;
}
.main-content {
	width: 1000px;
	margin: auto;
}
